%div.muted{id:"clock",class:"clock pull-right"}
	%h4.muted
		Time Remaining: 
	
		%span{id:"days", class:"days"}
		%span{id:"hours", class:"hours"}
		%span{id:"minutes", class:"minutes"}
		%small{id:"seconds", class:"seconds"}


:coffeescript
	countdown = (endTime) ->
		diff = endTime - new Date() 
		diff = 0 if diff < 0
		days = Math.floor(diff/1000/60/60/60)
		diff -= days * 1000*60*60
		hours = Math.floor(diff/1000/60/60)
		diff -= hours * 1000*60*60
		minutes = Math.floor(diff/1000/60)
		diff -= minutes * 1000*60
		seconds = Math.floor(diff/1000)
		return {"days": days, "hours": hours, "minutes":minutes, "seconds":seconds}

	String.prototype.paddingLeft = (paddingValue) ->
		String(paddingValue + this).slice(-paddingValue.length)

	updateClock = () ->
		difference = countdown(new Date(#{endTime.to_i*1000}))
		if difference.days == 0
			d3.selectAll("#days").text("").style("visibility", "hidden").style("")
		else if difference.days < 100
			d3.selectAll("#days").text(difference.days.toString().paddingLeft("00")+ "d")
		else
			d3.selectAll("#days").text(difference.days.toString().paddingLeft("000")+ "d")
		d3.selectAll("#hours").text(difference.hours.toString().paddingLeft("00")+ "h")
		d3.selectAll("#minutes").text(difference.minutes.toString().paddingLeft("00") + "m")
		d3.selectAll("#seconds").text(difference.seconds.toString().paddingLeft("00")+ "s")
	updateClock()
	setInterval(updateClock, 1000)
